<form id="save-ratings-form" onsubmit="return false;">
  {{#words}}
  <fieldset>
    <legend><span class="word">{{word}}</span> : <span class="desc">{{desc}}</span><label for="{{word}}" id="{{word}}_label">{{valuelabel}}</label></legend>
    <input class="likert-item" list="ticks" type="range" min="{{min}}" max="{{max}}" value="{{value}}" step="{{step}}" name="{{word}}" autocomplete="on" {{autofocus}} required="required" readonly="readonly">
    
  </fieldset>
  {{/words}}
  <datalist id="ticks">
    {{#ticks}}
    <option value="{{.}}">
      {{/ticks}}
  </datalist>
  <input id="submit-button" class="submit-button" type="submit" onclick="validate_submission() && submit_form();" value="{{submitlabel}}">
</form>

<script>
    $(":range").rangeinput({progress:true});
    var api = $(":range");
    api.change(function (e,v) {
        var label = e.target.name + '_label';
        document.getElementById(label).innerHTML = '';        
    });
</script>
